.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.button {
    height: 50px;
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(19, 164, 184);
}